/* VARIAVEIS*/
:root {
    --header-color: #000;
}

/* FONTES */
@font-face {
    font-family: GothamMedium;
    src: url(../fonts/GothamMedium.otf);
}
@font-face {
    font-family: GothamBook;
    src: url(../fonts/GothamBookRegular.otf);
}

body {
    font-family: 'GothamMedium', Arial, Helvetica;
    font-size: 14px;
    margin: 0;
}

/* HEADER */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
}
header ul, header li {
    list-style: none;
}
header .logo {
    width: 120px;
    margin-left: 20px;
}
header .middle ul {
    display: flex;
}
header .middle li {
    margin: 0 10px;
}
header .middle a {
    text-decoration: none;
    color: var(--header-color);
    text-transform: uppercase;
}
header .rightside ul {
    display: flex;
}
header .rightside li {
    margin: 0 10px;
}
header .rightside a {
    text-decoration: none;
    color: var(--header-color);
    text-transform: uppercase;
}
header .menu--icon {
    width: 18px;
    height: 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    cursor: pointer;
}
header .menu--icon div {
    height: 3px;
    background-color: var(--header-color);
}